{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{%block head%}
  <style>
  .card{
    display: inline-block;
    width: 18rem;
    margin: 5px;
    border:1px solid;
    margin-bottom:4px;
  }
  .dx{
    width:100%;
    height:fit-content;
    overflow-y:scroll;
    white-space: nowrap;
  }
</style>
{%endblock%}
{% block body %}
<div class="container dx">
    {% for item in blocks%}
    <div class="card" id="block-{{loop.index}}" onclick="reply_click(this.id)">
      <div class="card-header">
        Block {{loop.index}} {%if loop.index==1%} <small>(Genesis Block)</small>{%endif%}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h3>Hash</h3>
        {{item.hash[0:28]}}... <br>
        <h3>Previous Block Hash</h3>
        {%if item.previousHash!="0000"%}
        {{item.previousHash[0:28]}}...</li>
        {%else%}
        {{item.previousHash}}</li>
        {%endif%}

        <li class="list-group-item"><h3>Nonce</h3>{{item.nonce}}</li>
        <li class="list-group-item"><h4>TimeStamp</h4>{{item.timeStamp}}</li>
      </ul>
    </div>
    {%endfor%}
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Sent From</th>
        <th>Sent To</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody id="transactions">

    </tbody>
  </table>
</div>
{% endblock %}
{%block script%}
<script>
  function reply_click(id){
    updateTransactions(id)
  }
  function updateTransactions(id){
    selected=document.getElementById(id)
    index=parseInt(id.slice(6,id.length))-1
    console.log(index);
    blocks=[];
    {%for block in blocks%}
    blocks.push({{block|safe}});
    {%endfor%}
    txs=[]
    txs=blocks[index]["transactions"]
    html=``;
    txs.forEach((el)=>{
      html+=`<tr>
        <td>${el['sentFrom'].slice(0,28)}...</td>
        <td>${el['sentTo'].slice(0,28)}...</td>
        <td>${el['amount']}</td>
      </tr>`
    })

    document.getElementById('transactions').innerHTML=html
    console.log(html)
  }
</script>
{%endblock%}